<html>
  <head>
    <link rel="icon" href="img/favicon.ico">
    <title>Party Hopper </title>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="/Slides/css/example.css" rel="stylesheet" >
    <link href="/css/styles.css" rel="stylesheet" >
    
  </head>
  <body>
 	  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
      
    <div align="center" class="logo"><img src="/img/partyhopper-500.png" /></div>
    <!-- Nav bar end -->
    <div class="container">
      <div align="center">
      <% if (locals.user) { %>
        <div class="logged">
        <p>You are logged in. Hi, <strong><%= user.first_name %></strong>.<img class="profile-pic" src="https://graph.facebook.com/<%=user._id%>/picture"></p>
        </div>
        <!--<p><a class="btn btn-primary btn-lg" href="/user/<%= user._id %>">Profile</a></p>-->
      <% } else { %>
        <p><a class="btn btn-primary btn-lg" style="font-size: 25px;" href="/auth/facebook">Log in with Facebook</a></p>
      <% } %>
      </div>
        <a href="/now"><div class="c0 index card jumbotron">
            <h1>Going<br> on<br> Now</h1>
        </div></a>
        <a href="/week"><div class="c1 index card jumbotron">
            <h1>Going<br> on This<br> Week</h1>
        </div></a>
        <a href="/month"><div class="c2 index card jumbotron">
            <h1>Going<br> on This<br> Month</h1>
        </div></a>
 	</div>
 </body>
</html>
