<html>
  <head>
    <link rel="icon" href="img/favicon.ico">
    <title>Party Hopper </title>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="/Slides/css/example.css" rel="stylesheet" >
    <link href="/css/styles.css" rel="stylesheet" >
    
  </head>
  <body>
 	  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
      <link rel="icon" href="img/favicon.ico">
    <div align="center" class="logo"><a href="/"><img src="/img/partyhopper-500.png" /></a></div>
    <!-- Nav bar end -->
    <div class="container">
        <% 
        var cardcolor = 0;
        
        for (var i=0; i<5; i++) {  
            hap = haps[i];
            
            //if (hap.id === undefined) {
            //    break;
            //}
            %>
            <!--<a href="/party/<%= hap._id %>">-->
            <div class="c<%= cardcolor %> card jumbotron">
                <div class="party left">
                    <h2><%= hap.name %></h2>
                    <p><%= hap.location %></p>
                    <p><%= hap.start_time %> 
                        <%if (hap.end_time !== undefined) { %>
                        - <%= hap.end_time %></p>
                        <% } %> 
                    <p>
                    <% console.log("people ",hap.people)
                    if (user in hap.people) { %>
                        You have checked in.
                    <% } else { %>
                    <a class="btn btn-primary btn-lg" href="/checkin/<%= user._id %>,<%= hap._id %>, <%= time %>">Check In</a>
                    <% } %>
                    </p>
                </div>
                <div class="party right">
                    <img src="/img/thumbsup-100.png" href="/thumbsUp<%=hap[i]%>"/> <span class="green number"><%= hap.thumbsUp %></span> <br>
                    <img src="/img/thumbsdown-100.png" href="/thumbsDown<%=hap[i]%>"/> <span class="red number"><%= hap.thumbsDown %></span>
                </div>
            </div>
            <!--</a>-->
        <% 
            cardcolor = (cardcolor+1)%3;
        } %>

 	</div>
 </body>
</html>
