body {

  background-color: #fff;
}

.logo {
    margin-top: 10px;
}

/* Blue-green cards */
.c0 {
    background-color: #61b2c3;
}

.c0:hover {
    background-color: #519ba5;
}

/* Orange cards */
.c1 {
    background-color: #fbac45;
}

.c1:hover {
    background-color: #f68b1f;
}

/* Pink cards */
.c2 {
    background-color: #e37b8a;
}

.c2:hover {
    background-color: #e93e82;
}

.index {
    width: 30%;
    text-align:center;
    float:left;
    margin: 19px;
    height: 325px;
}

.card {
    font-family: Helvetica, Arial, sans-serif;
    color:#fff;
    font-weight: bold;
    height: 325px;
}

a:hover {
  text-decoration: none;
}

.logo {
    align-self: center;
}

.left {
    width:70%;
    float: left;
}

.right {
    width:20%;
    float: right;
}

.number {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
}

.red {
    color: #de2d27;
}

.green {
    color: #25a048;
}

.logged {
    width: 40%;
    height: 70px;
    border-radius: 6px;
    padding-top:10px;
    background-color: rgb(50, 118, 177);
    color: #fff;
    font-size: 20px;
}

.profile-pic {
    margin-left:10px;
    border-radius: 6px;
}

.form-signin {
    max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}